.p-history {
    font-family: 'Kumbh Sans', sans-serif;
    font-weight: lighter;
    text-align: start;
    color: black;
    font-size: 20px;
    padding: 15px;

}
.img-history {
    border-radius: 30%;
    border-style: solid;
    padding: 10;
    color: crimson;
}